*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.Rhistory
*.Rdata
*.dat
*.eps
*.pyc


# ignoring ipyhton notebook bakcup files
.ipynb_checkpoints

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.log
*.gz

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# ignoirng the synthetic ttsp file and graph.json and tree.json
/public/*.json
/uploads/*
synthetic_ttsp.txt